/* ---------------------------------- color --------------------------------- */
/* --------------------------------- z-index -------------------------------- */
/* ---------------------------------- font ---------------------------------- */
.header {
  position: relative;
}
.header .navbar__responsive.fixed-menu {
  box-shadow: none;
}
.header .fixed-menu {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #aaaaaa;
  box-shadow: 3px 0px 10px #aaaaaa;
  border-radius: 0 0 5px 5px;
}
.header .fixed-menu .navbar__icon {
  color: #fff;
  background-color: #222;
}
.header .fixed-menu .navbar__list--link,
.header .fixed-menu .list__megamenu--link,
.header .fixed-menu .btn {
  color: #555555 !important;
  font-weight: 500;
}
.header .fixed-menu .navbar__list--link::after,
.header .fixed-menu .list__megamenu--link::after,
.header .fixed-menu .btn::after {
  border-color: #555555;
}
.header .fixed-menu .navbar__list--link:hover,
.header .fixed-menu .list__megamenu--link:hover,
.header .fixed-menu .btn:hover {
  color: #26ae61 !important;
}
.header .fixed-menu .list__megamenu {
  background-color: #222 !important;
}
.header .fixed-menu .list__megamenu::before {
  border-bottom: 8px solid #222 !important;
}
.header .fixed-menu .list__megamenu--item {
  background-color: #222 !important;
}
.header .fixed-menu .list__megamenu--item .list__megamenu {
  background-color: transparent !important;
}
.header .fixed-menu .list__megamenu--link {
  color: #aaaaaa !important;
}
.header .fixed-menu .list__megamenu--link:hover {
  color: #fff !important;
}
.header .fixed-menu .navbar__logo::after {
  background-color: #ebebeb !important;
}
.header .fixed-menu .navbar__logo .scroll__logo__dark {
  display: block;
}
.header .fixed-menu .navbar__logo .scroll__logo__light {
  display: none;
}
.header .fixed-menu .login--register::before {
  background-color: #ebebeb !important;
}
.header .navbar__responsive {
  display: none;
}
.header .navbar {
  justify-content: left;
  font-size: 1.6rem;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: space-between;
}
.header .navbar__icon {
  display: none;
  color: #fff;
  font-size: 3rem;
}
.header .navbar__logo {
  width: 25%;
  position: relative;
  padding: 2.5rem 2rem 2.5rem 8rem;
  overflow: hidden;
}
.header .navbar__logo .scroll__logo__dark {
  display: none;
}
.header .navbar__logo::after {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  width: 1px;
  height: 110px;
  background-color: #fff;
  opacity: 0.5;
}
.header .navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 60%;
  padding-left: 2rem;
  margin: 0;
}
.header .navbar__list--item {
  margin: 0 0.3rem;
  height: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  position: relative;
}
.header .navbar__list--item .list__megamenu {
  list-style: none;
  position: absolute;
  top: 100%;
  transform: translateY(20%);
  left: 0;
  width: 200px;
  border-radius: 5px;
  padding: 2rem 0;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.header .navbar__list--item .list__megamenu::before {
  content: "";
  border-top: 0px;
  border-inline: 5px solid;
  border-color: transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  left: 30px;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item {
  margin-bottom: 0.5rem;
  padding: 0.2rem 2rem;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item .list__megamenu {
  visibility: hidden;
  padding: 0;
  padding-left: 1rem;
  position: absolute;
  left: 100%;
  top: -6px;
  opacity: 0;
  background: transparent;
  transform: translateX(30%) translateY(0);
}
.header .navbar__list--item .list__megamenu .list__megamenu--item .list__megamenu::before {
  display: none;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item .list__megamenu--link {
  padding: 0rem 1rem;
  display: inline-block;
  width: 100%;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item .list__megamenu--item:first-child {
  border-radius: 5px 5px 0 0;
  padding-top: 2rem;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item .list__megamenu--item:last-child {
  border-radius: 0 0 5px 5px;
  padding-bottom: 2rem;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item {
  background: #fff;
  margin: 0;
  position: relative;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item.active::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%) rotate(45deg);
  border: 1px solid #aaaaaa;
  border-left: none;
  border-bottom: none;
}
.header .navbar__list--item .list__megamenu .list__megamenu--item:hover .list__megamenu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%) translateY(0);
}
.header .navbar__list--item .list__megamenu--link {
  color: #aaaaaa;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  transition: 0.2s;
  font-weight: 500;
}
.header .navbar__list--item .list__megamenu--link:hover {
  color: #555555;
}
.header .navbar__list--item:nth-child(1) .navbar__list--link {
  padding-left: 0;
}
.header .navbar__list--item:hover .list__megamenu {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}
.header .navbar__list--link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 0 1.5rem;
  position: relative;
  transition: 0.3s;
  font-size: 1.5rem;
}
.header .navbar__list--link::after {
  content: "";
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 7px;
  height: 7px;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translateY(-50%);
  right: 0px;
  top: 40%;
}
.header .navbar__list--link:hover {
  color: #26ae61;
  text-decoration: none;
}
.header .navbar__list--link:hover::after {
  border-color: #26ae61;
}
.header .navbar .login--register {
  width: 15%;
  position: relative;
  padding: 1.5rem 0 1.5rem 2rem;
  overflow: hidden;
}
.header .navbar .login--register::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.header .navbar .login--register .btn--login,
.header .navbar .login--register .btn--register {
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  display: block;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.header .navbar .login--register .btn--login:focus,
.header .navbar .login--register .btn--register:focus {
  box-shadow: none;
}
.header .navbar .login--register .btn--login:hover,
.header .navbar .login--register .btn--register:hover {
  color: #26ae61;
}
.header .navbar .login--register .btn--login {
  padding: 0.5rem;
}
.header .navbar .login--register .btn--register {
  padding: 0.5rem;
}
.header .navbar__title {
  padding-left: 3rem;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.header .navbar__text {
  color: #aaaaaa;
  padding-left: 3rem;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.header .navbar__email {
  color: #26ae61;
  text-decoration: none;
  font-size: 1.4rem;
  padding-left: 3rem;
  font-weight: 600;
}
.header .navbar__email:hover {
  color: #fff;
}

@media (max-width: 1025px) {
  .header .navbar__list {
    display: none;
  }
  .header .navbar__logo {
    width: 30%;
    padding: 1.3rem;
  }
  .header .navbar__logo::after {
    display: none;
  }
  .header .navbar .login--register {
    display: none;
    padding: 0;
    padding-left: 2rem;
  }
  .header .navbar__icon {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    cursor: pointer;
    color: #555555;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .header .navbar__responsive {
    display: block;
    position: fixed;
    background-color: #222;
    height: 100vh;
    width: 100%;
    inset: 0;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }
  .header .navbar__responsive .navbar__icon {
    color: #fff;
    background-color: #555555;
    width: 50px;
    top: 2rem;
    right: 2rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .header .navbar__responsive .navbar__logo::after {
    display: none;
  }
  .header .navbar__responsive .navbar__logo {
    background-color: #1a1a1a;
    width: 100%;
    padding: 2rem;
  }
  .header .navbar__responsive .navbar__logo img {
    width: 200px !important;
  }
  .header .navbar__responsive .navbar__list {
    display: block;
    width: 100%;
    padding: 3rem;
    position: relative;
  }
  .header .navbar__responsive .navbar__list--link {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
  .header .navbar__responsive .navbar__list--link::after {
    transform: rotate(315deg) translateY(-50%);
  }
  .header .navbar__responsive .navbar__list--item {
    padding: 1rem 0;
    flex-direction: column;
  }
  .header .navbar__responsive .navbar__list--item .list__megamenu {
    transform: translateY(0%);
    background-color: #222;
    width: 100%;
    z-index: 6;
    position: unset;
    height: 0;
    padding: 0;
    opacity: 0;
    transition: 0s;
  }
  .header .navbar__responsive .navbar__list--item .list__megamenu::before {
    display: none;
  }
  .header .navbar__responsive .navbar__list--item .list__megamenu--item {
    background-color: #222;
  }
  .header .navbar__responsive .navbar__list--item .list__megamenu--item .list__megamenu {
    position: unset;
    transform: translateX(0);
    opacity: 0;
    transition: 0s;
    visibility: hidden;
    height: 0;
  }
  .header .navbar__responsive .navbar__list--item .list__megamenu--item::after {
    transform: translateY(0%) rotate(45deg) !important;
    top: 10px !important;
    right: 4px !important;
  }
  .header .navbar__responsive .navbar__list--item .list__megamenu--item:hover .list__megamenu {
    visibility: hidden;
    opacity: 0;
  }
  .header .navbar__responsive .navbar__list--item:hover .list__megamenu {
    visibility: hidden;
    opacity: 0;
  }
  .header .navbar__responsive .hr {
    height: 1px;
    background-color: #fff;
    margin-top: 3rem;
  }
  .header .navbar__responsive .login--register {
    display: block;
  }
  .header .navbar__responsive .login--register::before {
    display: none;
  }
}
.tranform0 {
  transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.h100 {
  height: 100% !important;
  padding: 2rem 0;
  opacity: 1 !important;
  visibility: visible !important;
}

@media (max-width: 600px) {
  .navbar {
    height: 55px;
  }
  .navbar .navbar__logo {
    padding: 0;
    width: 200px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55% !important;
  }
}
.footer .footer__block {
  background: url(../../images/banner-footer.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  min-height: 180px;
  overflow: hidden;
}
.footer .footer__block::before {
  content: "";
  background-color: rgba(34, 34, 34, 0.7);
  inset: 0;
  position: absolute;
  transition: 0.3s;
}
.footer .footer__block--title {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.footer .footer__block--title:last-child {
  transform: translateY(100%);
}
.footer .footer__block--title:last-child i {
  padding-left: 2rem;
}
.footer .footer__block:hover .footer__block--title:last-child {
  transform: translateY(0%);
}
.footer .footer__block:hover .footer__block--title:first-child {
  transform: translateY(-100%);
}
.footer .footer__block:hover::before {
  background-color: rgba(34, 34, 34, 0.85);
}
.footer .footer__bg {
  background-color: #222;
}
.footer .footer__bg--flex {
  padding-inline: 10rem;
  border-bottom: 1px solid #555555;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__bg--flex .footer__bg--logo {
  padding: 3rem;
  display: flex;
  justify-content: left;
}
.footer .footer__bg--flex .footer__bg--logo img {
  width: 200px !important;
}
.footer .footer__bg--flex .footer__bg--icon {
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-left: 1px solid #555555;
}
.footer .footer__bg--flex .footer__bg--icon:hover span i {
  background-color: #fff;
  color: #222;
}
.footer .footer__bg--flex .footer__bg--icon span i {
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555555;
  border-radius: 3px;
  transition: 0.3s;
}
.footer .footer__bg--flex .footer__bg--icon .bg__icon--text {
  font-size: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 0;
}
.footer .footer__bg--flex .footer__bg--icon .bg__icon--text span {
  display: block;
  font-size: 1.6rem;
  color: #555555;
}
.footer .footer__bg .footer__title {
  padding-top: 7rem;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.footer .footer__bg .footer__list {
  list-style: none;
  padding: 0;
}
.footer .footer__bg .footer__list .footer__list--link {
  padding-block: 0.5rem;
  font-size: 1.4rem;
  color: #555555;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.footer .footer__bg .footer__list .footer__list--link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 0;
  background-color: #26ae61;
  transition: 0.3s;
}
.footer .footer__bg .footer__list .footer__list--link:hover {
  color: #ebebeb;
}
.footer .footer__bg .footer__list .footer__list--link:hover::before {
  width: 100%;
}
.footer .footer__bg .footer__text {
  color: #555555;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer .footer__bg .footer__form .d-flex {
  justify-content: space-between;
}
.footer .footer__bg .footer__form .d-flex input:first-child {
  width: 70%;
  border: 1px solid #555555;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  color: #555555;
  font-size: 1.4rem;
  background-color: #222;
}
.footer .footer__bg .footer__form .d-flex input[type=submit] {
  background-color: #26ae61;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  width: clamp(70px, 28%, 150px) !important;
  width: 45px;
  display: inline-block;
}
.footer .footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}
.footer .footer__bottom--left {
  color: #555555;
  font-size: 1.5rem;
}
.footer .footer__bottom--right .icon--fb,
.footer .footer__bottom--right .icon--tw {
  display: inline-block;
  color: #555555;
  font-size: 2.5rem;
  margin-left: 1.5rem;
  transition: 0.3s ease;
}
.footer .footer__bottom--right .icon--fb:hover,
.footer .footer__bottom--right .icon--tw:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__bg--flex {
    padding-inline: 0 !important;
  }
  .footer__bg--flex .footer__bg--logo {
    padding: 3rem 0 !important;
  }
}
@media (max-width: 767px) {
  .footer__bg--logo {
    border-bottom: 1px solid #555555;
    justify-content: center !important;
  }
}
@media (max-width: 576px) {
  .footer__bottom--left {
    text-align: center;
  }
  .footer__bottom--right {
    text-align: center;
  }
}
.btn--all {
  background-color: #26ae61;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 50px;
  transition: 0.3s ease;
}
.btn--all:hover {
  background-color: #381600;
  color: #fff;
}

.btn--0 {
  border: none;
  outline: none;
}

.btn--transparent {
  background-color: transparent;
  padding: 0.5rem 1rem;
}
.btn--transparent.-yellow {
  background-color: rgba(214, 214, 0, 0.1) !important;
  color: #d6d600 !important;
  border: 1px solid #d6d600 !important;
}
.btn--transparent.-blue {
  background-color: rgba(0, 0, 255, 0.1) !important;
  color: blue !important;
  border: 1px solid blue !important;
}
.btn--transparent.-green {
  background-color: rgba(38, 174, 97, 0.1) !important;
  color: #26ae61 !important;
  border: 1px solid #26ae61 !important;
}

.btn--primary {
  background-color: #3b5998;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: 0.3s ease;
}
.btn--primary:hover {
  color: #fff;
  background-color: rgba(59, 89, 152, 0.8);
}

.btn--info {
  background-color: #33bcf3;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: 0.3s ease;
}
.btn--info:hover {
  color: #fff;
  background-color: rgba(51, 188, 243, 0.8);
}

.btn--admin {
  font-size: 1.4rem;
  color: #ebebeb;
  display: block;
  max-width: 130px;
  max-height: 45px;
  padding: 1rem 3rem;
}

.btn {
  font-size: 1.4rem;
}

.chosen-single {
  border: none !important;
  background-image: none !important;
  box-shadow: none !important;
  display: inline-block;
  font-size: 1.6rem;
  color: #555555 !important;
}

.chosen-drop {
  border: none !important;
  box-shadow: 0px 0px 5px #aaaaaa;
  font-size: 1.4rem;
}
.chosen-drop .chosen-results {
  max-height: 200px;
}
.chosen-drop .chosen-results::-webkit-scrollbar {
  width: 7px;
}
.chosen-drop .chosen-results::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.highlighted {
  background: #26ae61 !important;
}

.scroll {
  position: relative;
  font-size: 1.4rem;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: opacity 0.3s ease;
}
.scroll input.wage__range {
  border: none;
  background-color: transparent;
  outline: none;
  width: 45px;
  text-align: center;
}
.scroll #slider {
  position: relative;
  height: 5px;
  background-color: #ebebeb;
  margin: 2rem 0;
}
.scroll #slider .ui-slider-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 3px #26ae61;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.scroll #slider .ui-slider-handle:focus {
  outline: none;
}
.scroll #slider .ui-slider-handle:nth-child(2) {
  left: 100%;
}

.search__category h5 {
  margin-bottom: 1.5rem;
}
.search__category--keywords {
  height: 50px;
  font-size: 1.4rem;
  padding-left: 2.5rem;
}
.search__category .check__box {
  position: relative;
}
.search__category .check__box input[type=checkbox] {
  display: none;
}
.search__category .check__box label {
  font-size: 1.4rem;
  color: #555555;
  padding-left: 4rem;
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.search__category .check__box label span.check {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #aaaaaa;
  border-radius: 3px;
  display: block;
  transition: 0.3s;
}
.search__category .check__box label span.check::before {
  content: "";
  position: absolute;
  inset: 2px 6px;
  border: 3px solid #fff;
  border-left: none;
  border-top: none;
  width: 7px;
  height: 13px;
  transform: rotate(45deg);
}
.search__category .check__box input[type=checkbox]:checked ~ label span.check {
  background-color: #26ae61;
  border: none;
}
.search__category .check__box.fiter {
  position: relative;
}
.search__category .check__box.fiter label {
  font-size: 1.4rem;
  color: #555555;
  padding-left: 4rem;
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.search__category .check__box.fiter label span.check {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 35px;
  border-radius: 3px;
  display: block;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ebebeb;
  margin-top: 3rem;
}
.search__category .check__box.fiter label span.check::before {
  content: "";
  position: absolute;
  inset: 9px 8px;
  border: 3px solid #fff;
  border-left: none;
  border-top: none;
  width: 7px;
  height: 13px;
  transform: rotate(45deg);
  display: none;
}
.search__category .check__box.fiter label span.check:hover {
  background-color: #26ae61;
  color: #fff;
}
.search__category .check__box.fiter input[type=checkbox]:checked ~ label span.check {
  background-color: #26ae61;
  border: none;
  width: 60px;
  justify-content: end;
  color: #fff;
  padding: 0 1rem;
}
.search__category .check__box.fiter input[type=checkbox]:checked ~ label span.check::before {
  display: block;
}

.content .banner {
  background: url(../../images/banner_bg.jpg) no-repeat;
  background-size: cover;
  padding-block: 30rem;
  background-position: center;
}
.content .banner__before {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .banner__after {
  background-color: #222;
  opacity: 0.7;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.content .banner__title {
  color: #fff;
  font-size: 4rem;
}
.content .banner h3.banner__title {
  color: #aaaaaa;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.content .banner__btn {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.content .banner__btn--item {
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.4rem;
  border: 1px solid #aaaaaa;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  top: -80%;
  left: 0;
}
.content .banner__search {
  margin-top: 4rem;
}
.content .banner__search--box {
  background: #fff;
  height: 70px;
  border-left: 1px solid #ebebeb;
  position: relative;
}
.content .banner__search--box input {
  border: none;
  background: transparent;
  height: 100%;
  display: inline-block;
  outline: none;
  font-size: 1.6rem;
  color: #aaaaaa;
  padding-left: 2rem;
}
.content .banner__search--box input:focus ~ label .box__item:first-child {
  visibility: visible;
  opacity: 1;
}
.content .banner__search--box input:focus ~ label .box__item:last-child {
  visibility: hidden;
  opacity: 0;
}
.content .banner__search--box label {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.content .banner__search--box label .box__item {
  font-size: 1.4rem;
  background: #ebebeb;
  padding: 0.2rem;
  color: #aaaaaa;
  visibility: hidden;
  border-radius: 3px;
  transition: 0.3s;
  opacity: 0;
}
.content .banner__search--box label .box__item:last-child {
  visibility: visible;
  opacity: 1;
  background: transparent;
}
.content .banner__search--box:hover .box__item:first-child {
  visibility: visible;
  opacity: 1;
}
.content .banner__search--box:hover .box__item:last-child {
  visibility: hidden;
  opacity: 0;
}
.content .banner__search--box .select__box {
  height: 100%;
  border: none;
  font-size: 1.6rem;
  display: inline-block;
  width: 70%;
  color: #555555;
}
.content .banner__search--box .select__box:focus {
  box-shadow: none;
}
.content .banner__search--box .select__box option {
  padding: 0.5rem;
}
.content .banner__search--box .btn--search {
  font-size: 1.4rem;
  background: #26ae61;
  color: #fff;
  width: clamp(30%, 30%, 110px);
  height: clamp(40px, 100%, 45px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content .banner__search--box .btn--search span {
  position: absolute;
  opacity: 1;
  left: 15%;
  transition: 0.5s;
}
.content .banner__search--box .btn--search i {
  position: absolute;
  right: 0%;
  transition: 0.5s;
  opacity: 0;
}
.content .banner__search--box .btn--search:hover span {
  left: 0%;
  opacity: 0;
}
.content .banner__search--box .btn--search:hover i {
  right: 40%;
  opacity: 1;
}
.content .banner__search--box:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .banner__text {
  color: #aaaaaa;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.content .banner__text a {
  color: #26ae61;
  font-weight: 600;
}
.content .chosen-single {
  border: none !important;
  background-image: none !important;
  box-shadow: none !important;
  display: inline-block;
  font-size: 1.6rem;
  color: #555555 !important;
}
.content .chosen-drop {
  border: none !important;
  box-shadow: 0px 0px 5px #aaaaaa;
  font-size: 1.4rem;
}
.content .chosen-drop .chosen-results {
  max-height: 200px;
}
.content .chosen-drop .chosen-results::-webkit-scrollbar {
  width: 7px;
}
.content .chosen-drop .chosen-results::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content .highlighted {
  background: #26ae61 !important;
}
.content .content__item:hover .item__flex {
  background-color: #26ae61;
}
.content .content__item:hover .item__flex--left {
  color: #fff;
}
.content .content__item:hover .item__flex--left i {
  color: #fff;
}
.content .content__item .item__flex {
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  height: 100%;
  text-decoration: none;
  background-color: #ebebeb;
  border-radius: 5px;
}
.content .content__item .item__flex--left {
  font-size: 1.5rem;
  color: #222;
  width: 70%;
}
.content .content__item .item__flex--left i {
  margin-bottom: 1rem;
  color: #26ae61;
  font-size: 4rem;
}
.content .content__item .item__flex--left p {
  margin: 0;
}
.content .content__item .item__flex--right {
  color: #aaaaaa;
  font-size: 4rem;
  width: 30%;
  text-align: end;
}
.content .btn--all {
  margin-top: 4rem;
  width: 180px;
}
.content .hr {
  margin-top: 6rem;
}
.content .jobs {
  border-radius: 5px;
}
.content .jobs .jobs__item {
  border: 1px solid #ebebeb;
  padding: 3rem;
  transition: 0.3s;
  border-left: 4px solid blue;
}
.content .jobs .jobs__item:nth-child(2) {
  border-radius: 5px 5px 0 0;
}
.content .jobs .jobs__item:nth-child(3) {
  border-left-color: #26ae61;
}
.content .jobs .jobs__item:nth-child(3) .btn {
  border: 1px solid #26ae61;
  font-size: 1.2rem;
  color: #26ae61;
  background-color: rgba(38, 174, 97, 0.1);
}
.content .jobs .jobs__item:nth-child(4) {
  border-left-color: #d6d600;
}
.content .jobs .jobs__item:nth-child(4) .btn {
  border: 1px solid #d6d600;
  font-size: 1.2rem;
  color: #d6d600;
  background-color: rgba(214, 214, 0, 0.1);
}
.content .jobs .jobs__item:nth-child(6) {
  border-radius: 0 0 5px 5px;
}
.content .jobs .jobs__item:hover {
  background-color: #ebebeb;
}
.content .jobs .jobs__item .d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #222;
}
.content .jobs .jobs__item .jobs__item--icon ~ p {
  font-size: 1.4rem;
  color: #555555;
}
.content .jobs .jobs__item--img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}
.content .jobs .jobs__item--text {
  width: 75%;
}
.content .jobs .jobs__item--text h6 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.content .jobs .jobs__item--icon {
  list-style: none;
  padding: 0;
  justify-content: left !important;
  margin: 0;
  flex-wrap: wrap;
}
.content .jobs .jobs__item--icon .jobs__itemsub {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #555555;
  margin-right: 1.5rem;
}
.content .jobs .jobs__item--icon .jobs__itemsub i {
  font-size: 2rem;
  padding-right: 0.5rem;
}
.content .jobs .jobs__item .btn {
  border: 1px solid blue;
  font-size: 1.2rem;
  color: blue;
  font-weight: 600;
  background-color: rgba(0, 0, 255, 0.1);
}
.content .slider .slick-arrow {
  top: -45px;
  width: 25px;
  height: 25px;
  background-color: #ebebeb;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .slider .slick-arrow::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #555555;
  border-top: none;
  border-left: none;
  position: absolute;
}
.content .slider .slick-next {
  right: 0;
}
.content .slider .slick-next::before {
  transform: rotate(314deg);
}
.content .slider .slick-prev {
  left: 85%;
}
.content .slider .slick-prev::before {
  transform: rotate(135deg);
}
.content .slider .jobs__item {
  padding: 4rem;
  border: 1px solid #ebebeb;
  border-left-color: #ebebeb !important;
}
.content .slider .jobs__item p {
  font-size: 1.5rem;
  color: #555555;
}
.content .slider .jobs__item h6 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.content .slider .jobs__item .btn--all {
  border: none;
}
.content .slider .jobs__itemsub {
  margin-bottom: 1rem;
}
.content .content__bg__dark {
  background-image: url(../../images/bg-section.svg);
  background-size: cover;
  background-position: bottom;
}
.content .content__bg__dark .container {
  padding-block: 10rem;
}
.content .content__bg__dark .container .text__headline {
  margin-bottom: 3rem;
}
.content .content__bg__dark .container .bg__dark__list {
  list-style: none;
  padding: 0;
}
.content .content__bg__dark .container .bg__dark__list--item {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.content .content__bg__dark .container .bg__dark__list--item i {
  color: #26ae61;
  font-size: 2rem;
  padding-right: 1.5rem;
}
.content .content__bg__dark .container .bg__dark__list--item:last-child {
  margin-bottom: 4rem;
}
.content .content__bg__dark .container .btn--bgdark {
  font-size: 1.6rem;
  font-weight: 600;
}
.content .content__bg__dark .container .btn--bgdark:hover {
  background-color: #fff;
  color: #222;
}
.content .content__bg__dark .container .bg__dark__img {
  width: clamp(300px, 100%, 500px);
  height: clamp(300px, 100%, 400px);
  max-height: 400px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: auto;
}
.content .content__bg__dark .container .bg__dark__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.content .content__bg__dark .container .bg__dark__img img.img__sub__left {
  position: absolute;
  width: clamp(200px, 100%, 260px);
  height: clamp(200px, 100%, 230px);
  max-height: 230px;
  border-radius: 5px;
  left: 5%;
  bottom: -15%;
}
.content .content__slider .slick-arrow {
  display: none !important;
}
.content .content__slider .slick-list {
  padding: 5rem 0 !important;
}
.content .content__slider--item {
  margin-inline: 3rem;
  cursor: pointer;
}
.content .content__slider--item.slick-center {
  transform: scale(1.2);
  transition: 0.3s;
}
.content .content__slider--item.slick-center .content__slider--text {
  font-size: 1.2rem;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  position: relative;
}
.content .content__slider--item.slick-center .content__slider--text::before {
  content: "";
  position: absolute;
  border-top: 15px solid #222;
  border-bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.content .content__slider--img--cicle {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.content .content__slider--img--cicle img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70px;
  height: 70px;
}
.content .content__slider--name {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}
.content .content__slider--name span {
  color: #cfcfcf;
  font-weight: 400;
  display: block;
  font-size: 1.4rem;
}
.content .content__slider--text {
  color: #cfcfcf;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  padding: 3rem 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.content .our__block--border {
  border-radius: 5px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: #555555;
  border: 1px solid #ebebeb;
  min-height: 600px;
}
.content .our__block--border .btn--all {
  width: 100px;
  height: 40px;
}
.content .our__block--img {
  position: relative;
  overflow: hidden;
}
.content .our__block--img span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 10px 10px 0 10px;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #26ae61;
  color: #fff;
  bottom: 0;
  right: 0;
  transform: translateY(100px);
  transition: 0.3s;
}
.content .our__block--img:hover span {
  transform: translateY(0);
}

@media (max-width: 600px) {
  .banner .banner__before {
    transform: scale(0.9);
  }
}
@media (max-width: 768px) {
  .content__item {
    margin-bottom: 1.5rem;
  }
  .content__bg__dark .bg__dark__img {
    width: 100% !important;
    margin-top: 5rem;
    max-height: 200px !important;
  }
  .content__bg__dark .bg__dark__img .img__sub__left {
    display: none;
  }
  .content .content__slider--item.slick-center {
    transform: scale(1);
  }
  .content .content__slider--text {
    font-size: 1.6rem !important;
    padding: 5rem;
  }
  .content .banner {
    background-size: cover !important;
    height: 100vh;
  }
  .content .banner__title {
    margin-bottom: 0 !important;
  }
  .content .banner__search--box {
    margin: 3rem 0;
    height: 50px !important;
  }
  .content .banner__text {
    margin-top: 0 !important;
  }
  .content .banner__before {
    justify-content: end !important;
  }
  .our__block {
    margin-bottom: 5rem;
  }
}
.section.section__admin .job__title {
  font-size: 4rem;
  padding-top: 1rem;
}
.section.section__admin .menu__left {
  width: 0;
  transition: 0.3s;
}
.section.section__admin .menu__left .menu__admin {
  list-style: none;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #030b55;
  height: 100vh;
  padding: 2rem;
  border-radius: 0 10px 10px 0;
  transform: translateX(-100%);
  transition: 0.3s ease;
}
.section.section__admin .menu__left .menu__admin--link {
  padding: 1rem 0;
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #ebebeb;
  position: relative;
  width: 100%;
  letter-spacing: 1px;
}
.section.section__admin .menu__left .menu__admin--link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #26ae61;
  transition: 0.3s;
}
.section.section__admin .menu__left .menu__admin--link:hover {
  color: #fff;
}
.section.section__admin .menu__left .menu__admin--link:hover::before {
  width: 100%;
}
.section.section__admin .menu__left .menu__admin .close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: -2rem;
  color: #000;
  font-size: 2rem;
}
.section.section__admin .content__right {
  width: 100%;
  transition: 0.3s;
  font-size: 1.4rem;
  margin: 5rem 0;
}
.section.section__admin .content__right::-webkit-scrollbar {
  height: 7px;
}
.section.section__admin .content__right::-webkit-scrollbar-track {
  background: #ebebeb;
}
.section.section__admin .content__right::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}
.section.section__admin .content__right .table.table-hover th {
  text-align: center;
}
.section.section__admin .content__right .table.table-hover tr .btn--action {
  font-size: 1.4rem;
}
.section.section__admin .content__right .form__block {
  margin-bottom: 5rem;
}
.section.section__admin .content__right .form__block .btn--submit {
  border: 1px solid #555555;
  font-size: 1.4rem;
  max-width: 150px;
  max-height: 45px;
  padding: 10px 30px;
  margin: 0 auto;
  display: inline-block;
  background-color: #3b5998;
  color: #fff;
  width: 100%;
}
.section.section__admin .content__right .form__block .flex__grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.section.section__admin .content__right .form__block .input__box input,
.section.section__admin .content__right .form__block .input__box textarea {
  min-height: 50px;
  font-size: 1.4rem;
}
.section.section__admin .content__right .form__block .input__box .input__box--img {
  display: flex;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  align-items: center;
  padding: 2rem;
}
.section.section__admin .content__right .form__block .input__box .input__box--img input[type=file] {
  display: none;
}
.section.section__admin .content__right .form__block .input__box .input__box--img label {
  width: 130px;
  height: 40px;
  margin: 0 5rem 0 0;
  background-color: #3b5998;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
}
.section.section__admin .content__right .form__block .input__box--check {
  display: flex;
  align-items: center;
}
.section.section__admin .content__right .form__block .input__box--check span label,
.section.section__admin .content__right .form__block .input__box--check span input {
  cursor: pointer;
}
.section.section__admin .content__right .form__block .input__box--check .select__admin ~ .chosen-container-single {
  height: 50px;
  width: 25% !important;
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 1px solid #aaaaaa;
  border-radius: 0.25rem;
}
.section.section__admin .content__right .form__block .input__box--check .select__admin ~ .chosen-container-single .chosen-single {
  width: 100%;
}
.section.section__admin .content__right .form__block .input__box--left .chosen-container-single {
  height: 50px;
  border-radius: 0.25rem;
  border: 1px solid #aaaaaa;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.w-16 {
  width: 16.66666667% !important;
}

.w-83 {
  width: 83.33333333% !important;
}

.header .bg-white.navbar {
  border-color: #ebebeb;
  position: relative;
}
.header .bg-white.navbar .navbar__logo::after {
  background-color: #ebebeb;
}
.header .bg-white.navbar .navbar__list .navbar__list--link {
  color: #222;
}
.header .bg-white.navbar .navbar__list .navbar__list--link::after {
  border-color: #222;
}
.header .bg-white.navbar .navbar__list .navbar__list--link:hover {
  color: #26ae61;
}
.header .bg-white.navbar .navbar__list .navbar__list--link:hover::after {
  border-color: #26ae61;
}
.header .bg-white.navbar .login--register::before {
  background-color: #ebebeb;
}
.header .bg-white.navbar .login--register .btn--login,
.header .bg-white.navbar .login--register .btn--register {
  color: #222;
}
.header .bg-white.navbar .login--register .btn--login:hover,
.header .bg-white.navbar .login--register .btn--register:hover {
  color: #26ae61;
}

.content.page_detail {
  padding-top: 5rem;
}
.content.page_detail .content__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content.page_detail .content__flex .content__title--link {
  color: #aaaaaa;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 1rem;
  display: inline-block;
}
.content.page_detail .content__flex .content__title--title {
  font-size: 2.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content.page_detail .content__flex .content__title--title span {
  font-size: 1.2rem;
  background-color: #d6d600;
  padding: 0.5rem;
  border-radius: 2px;
  color: #fff;
  margin-left: 1rem;
}
.content.page_detail .content__flex .content__bookmark {
  font-size: 1.5rem;
  background-color: #faf1c8;
  color: #381600;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
}
.content.page_detail .content__company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #cfcfcf;
  margin-top: 4rem;
}
.content.page_detail .content__company--logo {
  max-width: 108px;
  border-radius: 5px;
  overflow: hidden;
}
.content.page_detail .content__company--content {
  margin-left: 2.5rem;
}
.content.page_detail .content__company--content .content__company--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.content.page_detail .content__company--content .content__company--flex .content__company--website,
.content.page_detail .content__company--content .content__company--flex .content__company--email {
  background-color: #ebebeb;
  font-size: 1.2rem;
  padding: 0.5rem;
  display: inline-block;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #555555;
  border-radius: 5px;
}
.content.page_detail .content__company--content .content__company--flex .content__company--website {
  margin-left: 0;
}
.content.page_detail .content__company--title {
  color: #222;
  margin-bottom: 0.5rem;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
}
.content.page_detail .content__company--login {
  color: #26ae61;
  font-size: 1.3rem;
  background-color: #ebebeb;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  display: inline-block;
}
.content.page_detail .content__company .btn {
  margin-right: 0;
  margin-top: 0;
  font-weight: 500;
}
.content.page_detail .content__description--youtube {
  margin-block: 5rem;
}
.content.page_detail .content__description--youtube iframe {
  display: block;
}
.content.page_detail .content__description--youtube .content__description--youtube--text {
  line-height: 30px;
}
.content.page_detail .content__description--title {
  margin-bottom: 3rem;
}
.content.page_detail .content__description--list .content__description--item {
  font-size: 1.4rem;
  color: #555555;
  list-style: square;
  margin-bottom: 1.5rem;
}
.content.page_detail .content__description--list .content__description--item::marker {
  color: #26ae61;
  font-size: 2rem;
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light {
  list-style: none;
  padding: 4rem;
  border-radius: 5px;
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light .content__description--item--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 3rem;
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light .content__description--item--flex .content__description--icon {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(38, 174, 97, 0.1);
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light .content__description--item--flex .content__description--icon i {
  color: #26ae61;
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light .content__description--item--flex .content__description--text {
  margin-left: 1rem;
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light .content__description--item--flex .content__description--text .content__description--item--title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #555555;
}
.content.page_detail .content__description .content__description--right .content__description--list.bg-light .content__description--item--flex .content__description--text .content__description--item--txt {
  font-size: 1.4rem;
}
.content.page_detail .content__description--flex.jobs .jobs__item {
  margin-bottom: 2rem;
  border: none;
  padding: 0 1rem;
}
.content.page_detail .content__description--flex.jobs .jobs__item:hover {
  background-color: transparent;
}
.content.page_detail .content__description--flex.jobs .jobs__item a {
  border: 1px solid #ebebeb;
  padding: 3rem;
  transition: 0.3s ease;
}
.content.page_detail .content__description--flex.jobs .jobs__item a:hover {
  background-color: #ebebeb;
}

@media (max-width: 992px) {
  .content.page_detail .content__description--youtube iframe {
    height: 300px;
  }
}
@media (max-width: 786px) {
  .content.page_detail .content__company {
    flex-direction: column;
    align-items: start;
  }
  .content.page_detail .content__company--content {
    margin-left: 0;
  }
  .content.page_detail .content__company .btn--all {
    width: 100%;
    margin-top: 1rem;
  }
}
.content.categories .bg-light {
  padding: 5rem 0;
}
.content.categories .bg-light .categories__block .categories__text {
  font-size: 1.4rem;
}
.content.categories .bg-light .categories__block .categories__text .categories__link {
  text-decoration: none;
  color: #aaaaaa;
}
.content.categories .bg-light .categories__block .categories__text span {
  color: #aaaaaa;
}
.content.categories .categories__list .jobs__item--img {
  min-width: 60px;
}
.content.categories .categories__list .jobs__item--text {
  padding-left: 2rem;
}
.content.categories .categories__list .jobs__item--btn {
  text-align: end;
}
.content.categories .categories__list .jobs__item--btn .btn {
  margin: 0 0 0.5rem 0.2rem;
}
.content.categories .categories__list .jobs .border--left__yellow {
  border-left: 4px solid #d6d600;
  border-left-width: 4px;
}
.content.categories .categories__list .jobs .border--left__green {
  border-left: 4px solid #26ae61;
  border-left-width: 4px;
}
.content.categories .categories__list .jobs .border--left__blue {
  border-left: 4px solid blue;
  border-left-width: 4px;
}
.content.categories .categories__list .jobs .border--left__red {
  border-left: 4px solid #b80000;
  border-left-width: 4px;
}
.content.categories .categories__list--page {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content.categories .categories__list--page .btn--page {
  display: inline-block;
  margin-right: 0.5rem;
  background-color: #ebebeb;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  width: 4rem;
}
.content.categories .categories__list--page .btn--page:first-child {
  margin-left: auto;
}
.content.categories .categories__list--page .btn--page:hover {
  background-color: #26ae61;
  color: #fff;
}
.content.categories .categories__list--page .btn--next {
  margin-left: auto;
  width: 6rem;
}
.content.categories .categories__list--page .btn--page--active {
  background-color: #26ae61;
  color: #fff;
}
.content.categories .categories__list .search__job .search__category .search__category--select .chosen-container-single {
  border: 1px solid #ebebeb;
  min-height: 50px;
  background-color: rgba(235, 235, 235, 0.4);
  border-radius: 5px;
}
.content.categories .categories__list .search__job .search__category .search__category--select .chosen-container-single .chosen-single {
  font-size: 1.4rem;
  height: 50px;
  display: flex;
  align-items: center;
}
.content.categories .categories__list .search__job .search__category .search__category--select .chosen-container-single .chosen-single div {
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 10px;
}
.content.categories .categories__list .search__job .search__category .search__category--select .chosen-container-single .chosen-single div b {
  background-image: none;
  border: 1px solid #222;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  transition: 0.3s;
}
.content.categories .categories__list .search__job .search__category .search__category--select .chosen-with-drop .chosen-single div b {
  transform: rotate(224deg);
}

.border--item {
  border: 1px solid #aaaaaa !important;
  border-radius: 6px;
  height: 100%;
}

.chosen-container-single {
  height: 100%;
}
.chosen-container-single .chosen-single {
  display: flex;
  align-items: center;
  height: 100%;
}
.chosen-container-single .chosen-single div {
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.grid__find--job {
  grid-template-columns: 20% 25% auto;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.grid__find--job .mb-5 {
  position: relative;
}
.grid__find--job .mb-5 .job__type--click,
.grid__find--job .mb-5 .job__type--click2 {
  cursor: pointer;
}
.grid__find--job .mb-5 .job__type, .grid__find--job .mb-5 .job__type2 {
  padding: 2rem 3rem 1rem 2rem;
  position: sticky;
  z-index: 1;
  border-radius: 5px;
  background-color: #fff;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s;
}

.pb-7 {
  padding-bottom: 7rem;
}

.hr {
  background-color: #fff;
}

.-m.-m-5 {
  margin: 5rem;
}
.-m.-mt-5 {
  margin-top: 5rem;
}
.-m.-ml-5 {
  margin-left: 5rem;
}
.-m.-mr-5 {
  margin-right: 5rem;
}
.-m.-mb-5 {
  margin-bottom: 5rem;
}

.-p.-p-5 {
  padding: 5rem;
}
.-p.-pt-5 {
  padding-top: 5rem;
}
.-p.-pl-5 {
  padding-left: 5rem;
}
.-p.-pr-5 {
  padding-right: 5rem;
}
.-p.-pb-5 {
  padding-bottom: 5rem;
}

.text__headline.-bold-300 {
  font-weight: 300;
}
.text__headline.-bold-400 {
  font-weight: 400;
}
.text__headline.-bold-500 {
  font-weight: 500;
}
.text__headline.-bold-600 {
  font-weight: 600;
}
.text__headline.-bold-700 {
  font-weight: 700;
}
.text__headline.-size-14 {
  font-size: 1.4rem;
}
.text__headline.-size-15 {
  font-size: 1.5rem;
}
.text__headline.-size-16 {
  font-size: 1.6rem;
}
.text__headline.-size-20 {
  font-size: 2rem;
}
.text__headline.-size-25 {
  font-size: 2.5rem;
}
.text__headline.-size-30 {
  font-size: 3rem;
}
.text__headline.-size-32 {
  font-size: 3.2rem;
}
.text__headline.-size-40 {
  font-size: 4rem;
}
.text__headline.-size-50 {
  font-size: 5rem;
}
.text__headline.-light {
  color: #ebebeb;
}
.text__headline.-gray {
  color: #555555;
}
.text__headline.-dark {
  color: #222;
}

/* Icons Fix */
.fa-calendar:before,
.fa-calendar:before,
.fa-map-marker:before,
.fa-map-marker:before,
.fa-user:before,
.fa-user:before,
.fa-clock-o:before,
.fa-clock-o:before,
.fa-money:before,
.fa-money:before,
.fa-briefcase:before,
.fa-briefcase:before {
  font-family: "linearicons";
  font-size: 18px;
  position: relative;
  top: 2px;
}

.fa-map-marker:before,
.fa-user:before,
.fa-clock-o:before,
.fa-money:before,
.fa-briefcase:before {
  font-family: "linearicons";
  font-size: 19px;
  position: relative;
  top: 1px;
}

.fa-calendar:before,
.fa-calendar:before {
  content: "\e770";
}

.fa-map-marker:before,
.fa-map-marker:before {
  content: "\ea9c";
}

.fa-user:before,
.fa-user:before {
  content: "\e6fe";
}

.fa-clock-o:before,
.fa-clock-o:before {
  content: "\ed51";
}

.fa-money:before,
.fa-money:before {
  content: "\eac6";
}

.fa-briefcase:before,
.fa-briefcase:before {
  content: "\ea95";
}

.fa-calendar:before,
.fa-calendar:before {
  content: "\e770";
}

ul li.content__description--item--flex:first-child .content__description--icon .fa-calendar:before {
  content: "\e70b";
}

/* Icons Fix - End */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Sans-serif;
}/*# sourceMappingURL=main.css.map */