// home 1
.content {
    .banner {
        background: url(../../images/banner_bg.jpg) no-repeat;
        background-size: cover;
        padding-block: 30rem;
        background-position: center;

        &__before {
            position: absolute;
            z-index: 2;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__after {
            background-color: $dark;
            opacity: 0.7;
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        &__title {
            color: $white;
            font-size: 4rem;
        }

        & h3.banner__title {
            color: $gray-light;
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 4rem;
        }

        &__btn {
            justify-content: space-between;
            margin-bottom: 1.5rem;

            &--item {
                background: rgba($color: $white, $alpha: .1);
                font-size: 1.4rem;
                border: 1px solid $gray-light;
                color: $white;
                padding: 5px 10px;
                border-radius: 3px;
                position: absolute;
                top: -80%;
                left: 0;
            }
        }

        &__search {
            margin-top: 4rem;

            &--box {
                background: $white;
                height: 70px;
                border-left: 1px solid $light;
                position: relative;

                & input {
                    border: none;
                    background: transparent;
                    height: 100%;
                    display: inline-block;
                    outline: none;
                    font-size: 1.6rem;
                    color: $gray-light;
                    padding-left: 2rem;

                    &:focus~label .box__item:first-child {
                        visibility: visible;
                        opacity: 1;
                    }

                    &:focus~label .box__item:last-child {
                        visibility: hidden;
                        opacity: 0;
                    }
                }

                & label {
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    transform: translateY(-50%);

                    & .box__item {
                        font-size: 1.4rem;
                        background: $light;
                        padding: .2rem;
                        color: $gray-light;
                        visibility: hidden;
                        border-radius: 3px;
                        transition: .3s;
                        opacity: 0;

                        &:last-child {
                            visibility: visible;
                            opacity: 1;
                            background: transparent;
                        }
                    }
                }

                &:hover .box__item:first-child {
                    visibility: visible;
                    opacity: 1;
                }

                &:hover .box__item:last-child {
                    visibility: hidden;
                    opacity: 0;
                }

                & .select__box {
                    height: 100%;
                    border: none;
                    font-size: 1.6rem;
                    display: inline-block;
                    width: 70%;
                    color: $gray;

                    &:focus {
                        box-shadow: none;
                    }

                    & option {
                        padding: .5rem;
                    }
                }

                & .btn--search {
                    font-size: 1.4rem;
                    background: $green;
                    color: $white;
                    width: clamp(30%, 30%, 110px);
                    height: clamp(40px, 100%, 45px);
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    & span {
                        position: absolute;
                        opacity: 1;
                        left: 15%;
                        transition: .5s;
                    }

                    & i {
                        position: absolute;
                        right: 0%;
                        transition: .5s;
                        opacity: 0;
                    }

                    &:hover span {
                        left: 0%;
                        opacity: 0;
                    }

                    &:hover i {
                        right: 40%;
                        opacity: 1;
                    }
                }
            }

            &--box:last-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        &__text {
            color: $gray-light;
            font-size: 1.5rem;
            margin-top: 2rem;

            & a {
                color: $green;
                font-weight: 600;
            }
        }
    }

    .chosen-single {
        border: none !important;
        background-image: none !important;
        box-shadow: none !important;
        display: inline-block;
        font-size: 1.6rem;
        color: $gray !important;
    }

    .chosen-drop {
        border: none !important;
        box-shadow: 0px 0px 5px $gray-light;
        font-size: 1.4rem;

        & .chosen-results {
            max-height: 200px;

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-thumb {
                background: $light;
                border-radius: 10px;
                transition: .3s;
            }
        }
    }

    .highlighted {
        background: $green !important;
    }

    & .content__item {
        &:hover {
            & .item__flex {
                background-color: $green;

                &--left {
                    color: $white;

                    & i {
                        color: $white
                    }
                }
            }
        }

        & .item__flex {
            transition: .3s;
            @include flex-sp(row);
            padding: 2rem 3rem;
            height: 100%;
            text-decoration: none;
            background-color: $light;
            border-radius: 5px;

            &--left {
                font-size: 1.5rem;
                color: $dark;
                width: 70%;

                & i {
                    margin-bottom: 1rem;
                    color: $green;
                    font-size: 4rem;
                }

                & p {
                    margin: 0;
                }
            }

            &--right {
                color: $gray-light;
                font-size: 4rem;
                width: 30%;
                text-align: end;
            }
        }
    }

    & .btn--all {
        margin-top: 4rem;
        width: clamp(100px, 180px, 200px);
    }

    & .hr {
        margin-top: 6rem;
    }

    .jobs {
        border-radius: 5px;

        & .jobs__item {
            border: 1px solid $light;
            padding: 3rem;
            transition: .3s;
            border-left: 4px solid $blue;

            &:nth-child(2) {
                border-radius: 5px 5px 0 0;
            }

            &:nth-child(3) {
                border-left-color: $green;

                & .btn {
                    border: 1px solid $green;
                    font-size: 1.2rem;
                    color: $green;
                    background-color: rgba($color: $green, $alpha: .1);
                }
            }

            &:nth-child(4) {
                border-left-color: $yellow;

                & .btn {
                    border: 1px solid $yellow;
                    font-size: 1.2rem;
                    color: $yellow;
                    background-color: rgba($color: $yellow, $alpha: .1);
                }
            }

            &:nth-child(6) {
                border-radius: 0 0 5px 5px;
            }

            &:hover {
                background-color: $light;
            }

            & .d-flex {
                @include flex-sp(row);
                text-decoration: none;
                color: $dark;
            }

            .jobs__item--icon~p {
                font-size: 1.4rem;
                color: $gray;
            }

            &--img {
                width: 60px;
                height: 60px;
                border-radius: 5px;
                overflow: hidden;
            }

            &--text {
                width: 75%;

                & h6 {
                    font-size: 1.7rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
            }

            &--icon {
                list-style: none;
                padding: 0;
                justify-content: left !important;
                margin: 0;
                flex-wrap: wrap;

                & .jobs__itemsub {
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    color: $gray;
                    margin-right: 1.5rem;

                    & i {
                        font-size: 2rem;
                        padding-right: .5rem;
                    }
                }
            }

            & .btn {
                border: 1px solid $blue;
                font-size: 1.2rem;
                color: $blue;
                font-weight: 600;
                background-color: rgba($color: $blue, $alpha: .1);
            }
        }
    }

    & .slider {
        & .slick-arrow {
            top: -45px;
            width: 25px;
            height: 25px;
            background-color: $light;
            border-radius: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: '';
                width: 10px;
                height: 10px;
                border: 2px solid $gray;
                border-top: none;
                border-left: none;
                position: absolute;
            }
        }

        & .slick-next {
            right: 0;

            &::before {
                transform: rotate(314deg);
            }
        }

        & .slick-prev {
            left: 85%;

            &::before {
                transform: rotate(135deg);
            }
        }

        & .jobs {
            &__item {
                padding: 4rem;
                border: 1px solid $light;
                border-left-color: $light !important;

                & p {
                    font-size: 1.5rem;
                    color: $gray;
                }

                & h6 {
                    margin-bottom: 2rem;
                    font-size: 2rem;
                }

                & .btn--all {
                    border: none;
                }
            }

            &__itemsub {
                margin-bottom: 1rem;
            }
        }
    }

    .content__bg__dark {
        background-image: url(../../images/bg-section.svg);
        background-size: cover;
        background-position: bottom;

        & .container {
            padding-block: 10rem;

            & .text__headline {
                margin-bottom: 3rem;
            }

            & .bg__dark__list {
                list-style: none;
                padding: 0;

                &--item {
                    display: flex;
                    align-items: center;
                    color: $gray-light;
                    font-size: 1.7rem;
                    font-weight: 300;
                    margin-bottom: 1.5rem;

                    & i {
                        color: $green;
                        font-size: 2rem;
                        padding-right: 1.5rem;
                    }

                    &:last-child {
                        margin-bottom: 4rem;
                    }
                }
            }

            & .btn--bgdark {
                font-size: 1.6rem;
                font-weight: 600;

                &:hover {
                    background-color: $white;
                    color: $dark;
                }
            }

            & .bg__dark__img {
                width: clamp(300px, 100%, 500px);
                height: clamp(300px, 100%, 400px);
                max-height: 400px;
                border-radius: 5px;
                overflow: hidden;
                margin-left: auto;

                & img {
                    object-fit: cover;
                    height: 100%;
                }

                & img.img__sub__left {
                    position: absolute;
                    width: clamp(200px, 100%, 260px);
                    height: clamp(200px, 100%, 230px);
                    max-height: 230px;
                    border-radius: 5px;
                    left: 5%;
                    bottom: -15%;
                }
            }
        }
    }

    .content__slider {
        .slick-arrow {
            display: none !important;
        }

        .slick-list {
            padding: 5rem 0 !important;
        }

        &--item {
            margin-inline: 3rem;
            cursor: pointer;
        }

        &--item.slick-center {
            transform: scale(1.2);
            transition: .3s;

            .content__slider--text {
                font-size: 1.2rem;
                color: $white;
                background-color: $dark;
                border-radius: 5px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    border-top: 15px solid $dark;
                    border-bottom: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    bottom: -14px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &--img--cicle {
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto;

            & img {
                object-fit: cover;
                width: 70px;
                height: 70px;
            }
        }

        &--name {
            font-size: 1.6rem;
            font-weight: 500;
            text-align: center;
            margin-top: 2rem;

            & span {
                color: $dark-light;
                font-weight: 400;
                display: block;
                font-size: 1.4rem;
            }
        }

        &--text {
            color: $dark-light;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 25px;
            padding: 3rem 2rem;
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    .our__block {
        &--border {
            border-radius: 5px;
            overflow: hidden;
            display: block;
            text-decoration: none;
            color: $gray;
            border: 1px solid $light;
            min-height: 600px;

            & .btn--all {
                width: 100px;
                height: 40px;
            }
        }

        &--img {
            position: relative;
            overflow: hidden;

            & span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                border-radius: 10px 10px 0 10px;
                position: absolute;
                width: 50px;
                height: 50px;
                background-color: $green;
                color: $white;
                bottom: 0;
                right: 0;
                transform: translateY(100px);
                transition: .3s;
            }

            &:hover {
                span {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .banner {
        .banner__before {
            transform: scale(0.9);
        }
    }
}

@media (max-width: 768px) {
    .content {
        &__item {
            margin-bottom: 1.5rem;
        }

        &__bg__dark {
            & .bg__dark__img {
                width: 100% !important;
                margin-top: 5rem;
                max-height: 200px !important;

                & .img__sub__left {
                    display: none;
                }
            }
        }

        .content__slider {
            &--item.slick-center {
                transform: scale(1);
            }

            &--text {
                font-size: 1.6rem !important;
                padding: 5rem;
            }
        }

        .banner {
            background-size: cover !important;
            height: 100vh;

            &__title {
                margin-bottom: 0 !important;
            }

            &__search {
                &--box {
                    margin: 3rem 0;
                    height: 50px !important;
                }
            }

            &__text {
                margin-top: 0 !important;
            }

            &__before {
                justify-content: end !important;
            }
        }
    }

    .our__block {
        margin-bottom: 5rem;
    }
}