/* ---------------------------------- color --------------------------------- */
$white: #fff;
$black: #000;
$gray-light: #aaaaaa;
$light: #ebebeb;
$gray: #555555;
$green: #26ae61;
$dark: #222;
$black-light: #1a1a1a;
$blue: blue;
$blue-dark: #3b5998;
$info: #33bcf3;
$yellow: #d6d600;
$brown: #381600;
$dark-light: #cfcfcf;
$skin: #faf1c8;
$red: #b80000;

/* --------------------------------- z-index -------------------------------- */
$-index_lv : -1;
$index_lv : 0;
$index_lv-1 : 1;
$index_lv-2 : 2;
$index_lv-3 : 3;
$index_lv-4 : 4;
$index_lv-5 : 999;
$index_lv-max : 9999;

/* ---------------------------------- font ---------------------------------- */
$font-primary: "Poppins", Sans-serif;
